# Books
- Clint Atterberry
- 8/18/2022

![png](books_erd.png)

# Setup

## Import Libraries

In [4]:
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

import pymysql
pymysql.install_as_MySQLdb()

## Create Connection

In [ ]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:root@localhost/books"

In [6]:
# Create the engine
engine = create_engine(connection)

## Create Databases from CSV

In [7]:
# Create database "books"
create_database(connection)

In [8]:
# Verify database exists
database_exists(connection)

True

In [11]:
# create users df
users_df = pd.read_csv('Data/users.csv')
users_df.head

<bound method NDFrame.head of    id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com>

In [12]:
# create books df
books_df = pd.read_csv('Data/books.csv')
books_df.head

<bound method NDFrame.head of    id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4
5   6          Frankenstein          5>

In [13]:
# create authors df
authors_df = pd.read_csv('Data/authors.csv')
authors_df.head

<bound method NDFrame.head of    id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley>

In [14]:
# create favorites df
favorites_df = pd.read_csv('Data/favorites.csv')
favorites_df.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

## Send df to SQL

In [16]:
users_df.to_sql('users', engine, if_exists = 'replace')

3

In [17]:
books_df.to_sql('books', engine, if_exists = 'replace')

6

In [18]:
authors_df.to_sql('authors', engine, if_exists = 'replace')

5

In [19]:
favorites_df.to_sql('favorites', engine, if_exists = 'replace')

7

# Queries

In [20]:
# Show Tables
q = """
SHOW TABLES
"""

pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [25]:
# John Doe's favorite books

q = """
SELECT
    books.title AS 'Title of Book',
    favorites.user_id AS 'User ID'
FROM
    books
JOIN
    favorites ON books.id = favorites.book_id
WHERE
    favorites.user_id = 
        (SELECT
            users.id
        FROM
            users
        WHERE
            (users.last_name = "Doe" AND users.first_name = "John"));
"""
print("John Doe's Favorite Books:")
pd.read_sql(q, engine)

John Doe's Favorite Books:

      Title of Book  User ID
0       The Shining        1
1                It        1
2  The Great Gatsby        1